
body {
	display: grid;
    grid-template: calc(100vh) 100px / 1.2fr 5fr;
    grid-template-areas: "users chat";
    overflow: hidden;
}


.hijo-users {
    display: grid;
    grid-area: users;
    background-color: rgb(31, 30, 30);
    flex-flow: column;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.hijo-chat {
    grid-area: chat;
    background-color: rgba(63, 62, 62, 0.829);
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVwSXvbw393IPvPGwgcdqSeAbsTz3wTJh8_iFSpzNf65gu9PKU2zZowxei9v1sBXOjJb4&usqp=CAU');
}

.users-chat{
    display: flex;
    background-color: rgba(77, 79, 80, 0.336);
    height: 50px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.verSmsUid{
    border-radius: 50%; margin: 10px;
}

.user-profile{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 5px;
}

.last-message{
    margin: 5px;
    color: rgba(240, 255, 255, 0.37);
    font-size: 15px;
}

.time-message{
    margin: 10px;
    color: rgba(229, 240, 240, 0.568);
    font-size: 10px;
}

.find-user-div{
    position: sticky;
    top: 15px;
    width: 100%;
    height: 50px;
    background-color: rgba(237, 243, 243, 0.664);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.fa-magnifying-glass{
    font-size: 20px;
    color: rgb(0, 0, 0);
    margin-right: 15px;
}

.fa-plus{
    font-size: 20px;
    color: rgb(14, 122, 223);
    margin-right: 20px;
}

#find-user-input{
    margin: 10px;
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(240, 248, 255, 0.404);
}

#modalAddUserBody{
    display: flex;
    justify-content: center;
    align-items: center;

}

.user-add-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.chat-box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-box{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-chat-box{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    width: 90%;
    height: 95%;
    border-radius: 50px;
}

.content-user-box{
    backdrop-filter: blur(5px);
    width: 95%;
    height: 95%;
    border-radius: 50px;
    text-align: center;
}

.chat-box-messages{
    display: flex;
    flex-flow: column-reverse;
    /* background-color: rgba(226, 228, 228, 0); */
    height: 80%;
    width: 100%;
    border-radius: 50px;
    margin: 10px;
    overflow-y: auto;
    align-items: center;
    
}


.chat-send-messages{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;
    height: 15%;
}

.send-messages{
    background-color: rgba(240, 248, 255, 0.671);
    height: 50%;
    width: 70%;
    border-radius: 50px;
}

.btnSend{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
}


.message-friend{
    display: flex;
    flex-flow: column;
    background-color: rgb(67 56 80 / 73%);
    width: 80%;
    margin: 20px;
    border-radius: 15px;
    word-wrap: break-word;

}

.profile-message-div{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.profile-message{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 10px;
}

.text-message{
    color: rgba(252, 251, 253, 0.932);
    font-size: 15px;
    margin-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}

.name-message{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(254, 251, 255, 0.568);
    font-size: 15px;
    font-weight: 500;
}


.profile-me{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin: 10px;
}

.text-me{
    color: rgba(252, 251, 253, 0.932);
    font-size: 15px;
    margin-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 400px;
}

.name-me{
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgba(254, 251, 255, 0.568);
    font-size: 15px;
    font-weight: 500;
}

.message-me{
    display: flex;
    flex-flow: column;
    background-color: rgba(52, 52, 53, 0.562);
    width: 80%;
    margin: 20px;
    border-radius: 15px;
    word-wrap: break-word;

}

.profile-me-div{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.me-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 50%;
}

.profile-image{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.profile-name{
    color: aliceblue;
    margin-bottom: 4px;
}

.other-profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 50%;
}

.nav-profile{
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#nav-profile-content{
    padding: 20px;
}

.NavBtn{
    margin-right: 10px;
}


/* Responsive */
@media screen and (max-width: 600px) {
    .users-chat {
        width: 50px;
    }

    .last-message{
       display: none;
    }

    .time-message{
        display: none;
     }

     .user-profile{
        margin: 0 auto;
    }

    .find-user-div{
       display: none;
    }

    .user-box{
        display: none;
    }

    .chat-box{
        width: 100%;
        height: 90vh;
      }

      .verSmsUid{
        display: none;
    }


    #nav-profile-div{
        display: flex !important;
    }

    .text-me{
        width: 200px;
    }

    .text-me{
        width: 200px;
    }

  }


  @media screen and (min-width: 601px) {
    body{
        grid-template: calc(100vh) 100px / 3.5fr 5fr;
        grid-template-areas: "users chat";
    }
  }

  @media screen and (min-width: 1001px) {
    body{
        grid-template: calc(100vh) 100px / 1.5fr 5fr;
        grid-template-areas: "users chat";
    }
  }

